h1{
  font-size: 50px;
  text-align: center;
}

table{
  text-align: center;
  font-size: 40px;
  border-collapse: collapse;
}

td {
  resize: none;
  font-size: 40px;
  border: 2px solid black;
  width: 150px;
  height:150px;
  border-collapse: collapse;
}
td:hover{
  background-color: steelBlue;
}
